.projects {
  padding: 40px 40px;
  text-align: center;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 70px;
}

.gridItem {
  display: flex;
}

.fullWidthCard {
  grid-column: 1 / -1;
}

.heading {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
    gap: 30px;
  }
  .projects {
    padding: 30px 10px;
  }
  .heading {
    font-size: 1.6rem;
    margin-top: 40px;
  }
}
